<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
  </head>
  <body>
    <h1>Reset password for <%= email %></h1>
    <!-- action="" bidejki istoto url e i za POST i za GET rutata  -->
    <form action="" method="post">
      <label for="password"> Password</label>
      <input type="password" name="password" id="password" />
      <br />
      <label for="confirmPassword">Confirm password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <br />
      <button type="submit">Reset password</button>
    </form>
  </body>
</html>
